*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyindex{
    background-image: url(../img/paganii_utopia_2023_4k_8k_4-3840x2160.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.banner{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgba(205,154,154,0);
    background: linear-gradient(90deg,rgba(205,154,154,0) 0%, #2c2c2c 80%);
    background: -webkit-linear-gradient(90deg,rgba(205,154,154,0) 0%, #2c2c2c 80%);
    background: -moz-linear-gradient(90deg,rgba(205,154,154,0) 0%, #2c2c2c 80%);
}

.paganilogo img{
    height: 27px;
}

.paganilogo{
    list-style: none;
}

.link{
    list-style: none;
}

.link a{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.671);
    text-decoration: none;
    font-family: 'Goldman', cursive;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
}

.link a:hover{
    font-size: 2rem;
    transition: font-size 0.5s ease; /* Transición de medio segundo */

}

.link a:not(:hover) {
  font-size: 1.5rem;
  transition: font-size 0.5s ease;
}

.h1-index{
    text-align: center;
    font-size: 2.5rem;
    color: rgba(196, 183, 163, 0.527);
    margin-top: 2rem;
}


.contenedor-index{
    font-size: 6.7rem;
    font-family: 'Great Vibes', cursive;
    color: antiquewhite;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;

}

.item-fixed1, .item-fixed2, .item-fixed3, .item-fixed4{
    height: 2rem;
}

.contenedor-footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.h4-index{
    color: rgba(240, 248, 255, 0.281);
    position: fixed;
    bottom: 2px;
    left: 8px;
}

.contenedor-redes{
    position: fixed;
    bottom: 2px;
    right: 8px;
}

.contenedor-redes a{
    text-decoration: none;
}